# Thanks to: https://gist.github.com/jdbartlett/444295

## PROJECT ROOT

# Ignore everything in the root except the "wp-content" directory and config files.
/*

# project' and OS' junk
.DS_Store
.sass-cache
.directory
npm-debug*
node_modules
bower_components
# css
build
resources
nbproject
vendor
*.sublime-*

# bash scripts for automating stuff
!*.sh

# we need this file
!.gitignore

# project packages
!package.json

# instructions
!README.md

# composer packages and config
!composer.json

# source files
!wp-content/

## 'WP-CONTENT' DIR

# Ignore everything in the "wp-content" directory, except the "plugins" and "themes" directories.
wp-content/*
!wp-content/plugins/
!wp-content/themes/
!db-error.php

## 'PLUGINS' DIR

# Ignore everything in the "plugins" directory, except the plugins you specify
wp-content/plugins/*
# !wp-content/plugins/my-single-file-plugin.php
# !wp-content/plugins/my-directory-plugin/

## 'THEMES' DIR

# Ignore everything in the "themes" directory, except the themes you specify
wp-content/themes/*
!wp-content/themes/radionica/

## 'radionica' THEME DIR

# Linux files
# KDE directory preferences and Linux trash folder which might appear on any partition or disk
wp-content/themes/radionica/.directory
wp-content/themes/radionica/.Trash-*

# Windows files
# Image file caches
wp-content/themes/radionica/Thumbs.db
wp-content/themes/radionica/ehthumbs.db
# Folder config file
wp-content/themes/radionica/Desktop.ini

# OSX files
wp-content/themes/radionica/.DS_Store
wp-content/themes/radionica/.AppleDouble
wp-content/themes/radionica/.LSOverride

# Icon must end with two \r
wp-content/themes/radionica/Icon


# Directories potentially created on remote AFP share
wp-content/themes/radionica/.AppleDB
wp-content/themes/radionica/.AppleDesktop